/* main theme style */

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

    .site-header .navbar-nav .nav-link:hover {
        color: #ffffff;
    }

    .site-header .navbar-nav .nav-link.active {
        font-weight: 500;
    }

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

    .article-metadata a:hover {
        color: #333;
        text-decoration: none;
    }


/* input field for tags */
.input-wrapper div {
    margin-bottom: 10px;
}

.remove-input {
    margin-top: 10px;
    margin-left: 15px;
    vertical-align: text-bottom;
}

.add-input {
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: text-bottom;
}


/* search bar */
.search-table {
    padding: 10%;
    margin-top: -6%;
}

.search-box {
    background: #cbd5db;
    border: 1px solid #ababab;
    padding: 3%;
}

    .search-box input:focus {
        box-shadow: none;
        border: 2px solid #eeeeee;
    }

.search-list {
    background: #fff;
    border: 1px solid #ababab;
    border-top: none;
}

    .search-list h3 {
        background: #eee;
        padding: 3%;
        color: #fe6f41;
        margin-bottom: 0%;
    }

/* hyperlink text color */
a {
    color: inherit;
} 